.section {
    min-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* Set your desired background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    border-radius: 10px; /* Add rounded corners */
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Add additional styles as needed */

/* Style for items in the section */
.section-item {
    margin-bottom: 10px;
    /* Add more styles as needed */
}
