{% extends 'base.html' %}

    {% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    {% endblock %}


{% block content %}
    <h1>Save Up A Gold Nugget!</h1>
    <p>Add an expense</p>
    <br>
    <hr>
    <form method="post" action="{% url 'add_expense' %}">
        {% csrf_token %}
        
        <label for="{{ form.description.id_for_label }}">Description:</label>
        {{ form.description }}
        <label for="{{ form.amount.id_for_label }}">Amount:</label>
        {{ form.amount }}
        <label for="{{ form.category.id_for_label }}">Category:</label>
        {{ form.category }}
        
        <label for="{{ form.date.id_for_label }}">Date:</label>
        {{ form.date }}
        
        <button type="submit">Add Expense</button>
    </form>
    
{% endblock %}
