{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}

    {% endblock %}
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="navbar">
                <div class="logo"></div>
                <nav>
                    <ul>
                        <li><a href="{% url 'home_view' %}">Home</a></li>
                        <li><a href="{% url 'dash_view' %}">Dashboard</a></li>
                        <li><a href="{% url 'store_view' %}">Store(Admin)</a></li>
                        {% comment %} <li><a href="#">Profile (Unavailable)</a></li> {% endcomment %}
                        <li>
                            <a href="#">Expenses</a>
                            <ul class="sub-menu">
                                <li><a href="{% url 'add_expense' %}">Add Expense Items</a></li>
                               
                                
                            </ul>
                        </li>
                        <li>
                            <a href="#">Products</a>
                            <ul class="sub-menu">
                                <li><a href="{% url 'manage_prod_view' %}">Manage Items</a>
                                <li><a href="{% url 'add_product' %}">New Items</a></li>
                                
                                
                            </ul>
                        </li>
                        <li><a href="{% url 'about_view' %}">About</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

        <footer class="footer">
            <p>&copy; 2023 Home Apps. All rights reserved.</p>
        </footer>
    </div>
    <!-- Add any additional scripts here -->
    <script>
        // Your JavaScript code here
    </script>
</body>
</html>
