{% extends 'base.html' %}

    {% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/section.css' %}">
    {% endblock %}


{% block content %}
    <h1>DashBoard</h1>
    <p>Welcome, Lord!</p>
 
   
        {% for item in prod %}
        <div class="section">
            <div class="section-item">
                <h2>{{ item.name }}</h2>
                <p>{{ item.description }}</p>
                <p>In Stock: {{ item.quantity }}</p>
            </div>
           
        </div>
        {% endfor %}
    
   
{% endblock %}
