{% extends 'base.html' %}

{% block extra_css %}{% load static %}<link rel="stylesheet" href="{% static 'css/movie_album.css' %}">{% endblock %}

{% block content %}
    <h1>Welcome to my Store!</h1>
    {% with valid_statuses='sold classified acquired' %}
<div class="movie-album">
    {% for product in items %}
        <div class="movie-card {% if product.status in valid_statuses %}sold-out{% endif %}">
            <a href="{% url 'product_detail' product.id %}">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
            </a>
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <p>Price: Nrs.{{ product.price }}</p>
            <!-- Add more details as needed -->

            <!-- Debug information -->
            <p>Status: {{ product.status }}</p>

            <!-- Overlay for sold, classified, or acquired items -->
            {% if product.status in valid_statuses %}
                <div class="overlay" style="background-image: url('/static/images/no.png');"></div>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endwith %}

    
{% endblock %}
